.results {
	margin-top:80px;
	margin-bottom:180px;
	table {
		width:100%;
		border:1px solid #ccc;
		border-collapse: collapse;
		th, td {
			padding:5px;
		}
		thead {
			th {
				text-align: left;
				font-weight:bold;
				border:1px solid #ccc;
				background-color: #bd95e8;
			}
		}
		tbody {
			td {
				border:1px solid #ccc;
			}
			td {
				vertical-align: middle;
				img {
					height:150px;
				}
			}
		}
	}
}