.searchform {
	text-align: center;
	input {
		box-shadow: 0px 1px 10px rgba(204, 204, 204, 0.15);	
		display:inline-block;	
		height: 40px;
		font-size: 20px;
		border-radius: 3px;
	}

	input[type=text] {
		border: 1px solid #ccc;
		padding: 0px 20px;
		margin-right:5px;
		outline:none;
	}
	input[type=submit]{
		background-color: rgb(35, 125, 201);
		color:white;
		border: 0;
		width: 100px;
	}
}